body {
    background-color: rgb(240, 240, 240);
}

.top-row {
    padding-top: 20px;
}

.fa {
    margin-left: 6px;
}

#close-instructions-button {
    border: none;
    background-color: #43bbef;;
    width: 40px;
    font-family: monospace;
    font-size: 25px;
    color: white;
    margin-left: 85%;
    padding-top: 0.3rem;
}

#instructions-container {
    height: 28rem;
}

#instructions-content {
    margin-top: 30px;
}

#instructions-content .fa {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#instructions-content p {
    font-size: 15px;
    margin-left: 80px;
    margin-top: -50px;
}

.instructions-box {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    height: 6.5rem;
}

input {
    border-radius: 4px;
    border: 1px solid #43bbef;
    padding-left: 10px;
    height: 40px;
}

#calendar-container{
    background-color: white;
    border-radius: 8px;
    margin: 10px 3% 20px 3%;
    padding: 5px;
}

.day-table {
    border-collapse:separate;
    border-radius: 6px;
    -moz-border-radius:6px;
    border: 2px solid #43bbef;
    margin: 10px;    
}

.day-table thead {
    border-bottom: 2px solid #43bbef;
    background-color: #43bbef;
    text-align: center;
}

.day-table th {
    background-color: #43bbef9a;
    width: 30px;
    text-align: center;
    border-radius: 3px;
}

.day-table tr {
    border-bottom: 1px solid #43bbef;
}

.day-table td {
    width: 130px;
}

.event-modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 30%;
    padding-right: 30%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    background-color: #43bbef;
    margin: -20px;
    border-radius: 4px 4px 0 0;
    height: 50px;
}

#modal-content form {
    margin-top: 30px;
}

#close-modal-button {
    border: none;
    background-color: #43bbef;;
    width: 40px;
    font-family: monospace;
    font-size: 25px;
    color: white;
    margin-left: 85%;
    padding-top: 0.3rem;
}

.modal-content {
    background-color: #fefefe;
    margin: 10%;
    padding: 20px;
    border: 1px solid #43bbef;
    width: 450px;
    height: 600px;
    text-align: left;
}

.modal-content .date-control {
    font-size: 0.7rem;
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 1.4rem;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.modal-content .date-non {
    width: 1.7rem;
    text-align: center;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.modal-content p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.modal-content h5 {
    font-size: 1.2rem;
}

.modal-content .creation-info {
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 20px 1px 20px 1px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.creation-info ul {
    font-size: 0.7rem;
}

.attendee-box{
    margin: 10px 5px 20px 5px;
}

.radio-label {
    padding-top: 10px;
    padding-left: 0.2rem;
    font-size: 15px;
}

.attendee-box .person {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    text-align: center;
    padding-bottom: 0.2rem;
}

.separator {
    width: 2px;
    background-color: rgb(161, 161, 161);
}

.modal-content .button-container {
    text-align: center;
}

.modal-content button {
    background-color: #43bbef;
    color: white;
    border: none;
}



.not-display {
    display: none;
}